* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Press Start 2P", system-ui;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.gameContainer {
  padding: 10px;
  position: relative;
  width: 700px;
  height: 500px;
  background-color: #1111117c;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #4d4dff;
  border-radius: 50%;
}

.block {
  margin-top: 10px;
  margin-left: 15px;
  position: absolute;
  width: 90px;
  height: 25px;
  background-color: #ff4d4d;
  border-radius: 4px;
}

.paddle {
  position: absolute;
  width: 200px;
  height: 15px;
  background-color: #4dff4d;
  border-radius: 5px;
}

.gameInfo {
  color: whitesmoke;
  text-shadow: 2px 2px black;
  display: flex;
  width: 700px;
  justify-content: space-between;
  font-size: 25px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.gameOver {
  position: absolute;
  visibility: hidden;
  width: 500px;
  height: 400px;
  background-color: #f0e9e97c;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 15px;
  border: 2px solid black;
  font-size: 14px;
}

.gameOver p {
  color: whitesmoke;
  text-shadow: 2px 2px black;
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

button {
  width: 150px;
  height: 60px;
  border-radius: 10px;

  font-family: "Press Start 2P", system-ui;
  color: whitesmoke;
  text-shadow: 2px 2px black;
  background-color: rgb(91, 2, 20);

  padding: 5px;
  margin: 40px;
  text-align: center;
  border-radius: 10px;
}
